@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
}

/* Navbar Styling Starts */
header {
  background-color: rgba(29, 29, 29, 1);
  z-index: 2;
  position: relative;
}

.display {
  display: flex;
}

.navigation-menu__searchbar {
  background-color: rgba(245, 245, 245, 0.2);
  width: 200px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 0px 8px 16px;
  color: white;
  z-index: 999999;
}

.navigation-menu__search {
  outline: none;
  border: none;
  background: none;
  font-size: 16px;
  color: white;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
}

nav {
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navigation__menu {
  display: none;
}

input[type="text" i] {
  padding: 0;
}
.navigation-menu__search::placeholder {
  color: #f1f1f1;
}

.mobile__menu {
  color: white;
  width: 100%;
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.searchbar__menu {
  cursor: pointer;
  z-index: 9999;
}

.navigation__menu_ul {
  list-style: none;
  display: flex;
  gap: 30px;
  flex-direction: column;
  text-align: center;
}

.navigation__menu_ul li a {
  text-decoration: none;
  color: white;
}

.mobile__menu li a:hover {
  color: red;
}

/* Navbar Styling Ends */

/* Hero Styling Starts */
video {
  width: 100%;
  height: auto;
}

.hero__header {
  display: flex;
  justify-content: center;
}

.hero__header span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: #fff0bb;
  padding: 8px;
  border-radius: 0px 0px 16px 16px;
  position: absolute;
  top: 70px;
  border: 2px solid #f3bd00;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  font-family: "Lato";
}

.hero__header span a {
  font-size: 14px;
}

.techpaathshala__img {
  width: auto;
  height: 14px;
  margin: 0 auto;
}
/* Hero Styling Ends */

/* Profile Styling Starts */
.profile__img-wrapper {
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__img {
  max-height: 100%;
  max-width: 100%;
  filter: drop-shadow(0px -6.7px 20px rgba(0, 0, 0, 0.5));
  object-fit: cover;
}
.profile {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  position: relative;
  bottom: 90px;
}
.profile__info {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.profile__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.profile__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.profile__description {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(85, 85, 85, 1);
}

.btn {
  padding: 10px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.primary-btn {
  background-color: rgba(9, 72, 180, 1);
  color: white;
}

.secondary-btn {
  background-color: white;
  border: 2px solid rgba(9, 72, 180, 1);
}
.primary-btn:hover,
.secondary-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.profile-btn {
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile-btn a {
  text-decoration: none;
  font-size: 10px;
}

/* Profile Styling Ends */

/* Description CSS Starts */
.description {
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  padding: 24px 0px;
}

.description__heading {
  border-bottom: 2px solid black;
  padding-left: 30px;
  padding-right: 30px;
  width: fit-content;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.description__courses {
  display: flex;
  text-align: center;
  gap: 20px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

/* Description Css Ends */

/* Expertise CSS Starts */
.heading {
  padding: 10px 0px 10px 0px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.expertise__content {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
}

.expertise__img-wrapper {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expertise__img {
  width: 288px;
  height: 258px;
  border-radius: 10px;
}

.expertise__description {
  text-align: center;
}

.expertise__heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.expertise__context {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #555555;
}
/* Expertise CSS Ends */

/* Skills CSS Starts */
.technologies {
  display: flex;
  overflow: scroll;
  gap: 25px;
  padding: 0px 20px 0px 20px;
}

::-webkit-scrollbar {
  display: none;
}

.technologies p {
  padding-top: 20px;
  text-align: center;
  font-size: 11.74px;
  font-weight: 600;
  font-family: "Lato";
  line-height: 20px;
}

.soft-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px 0px;
}

.soft__skills_content p {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.soft__skills_content {
  text-align: center;
  /* border: 1px solid black; */
  width: auto;
  height: auto;
}

/* Skills CSS Ends */

/* Project CSS Starts */
.project__content {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  border-radius: 16px;
  width: 95vw;
}

.project__heading {
  padding: 10px 0px 10px 0px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.project__description {
  color: #555555;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 20px;
}

.project__content a {
  text-decoration: none;
  text-align: center;
}

.projects__container {
  display: flex;
  overflow: scroll;
  padding: 0px 16px;
}

.project-scroll {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

.project-scroll-btn {
  border-radius: 50%;
  border: none;
  height: 48px;
  width: 48px;
  font-size: 20px;
  background-color: #f1f1f1;
  color: #1d1d1d;
  cursor: pointer;
}

.project-scroll-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* Projet CSS Ends */

/* Experience CSS Starts */
.experience-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 20px;
}

.experience__content {
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 24px;
  gap: 30px;
  flex-direction: column;
}

.experience__img-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.experience__img-wrapper a {
  text-decoration: none;
  text-align: center;
}

.experinece__ofice-name {
  margin-bottom: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.experinece__duration,
.experience__work {
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.experience__work {
  color: #555555;
  text-align: center;
}

/* Experience CSS Ends */

/* Qualification CSS Starts */
.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
}

.line {
  height: 83px;
  background-color: black;
  width: 4px;
}

.horizontal-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: left;
  margin-right: 30px;
  padding-left: 20px;
}
#circle-one {
  margin-top: 5px;
}
.qualification__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.qualification__container li {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 3px;
}

.qualification-course {
  margin-top: 0;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins";
}

.qualification-college {
  color: #555555;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins";
}

#education-img {
  width: 300px;
  height: 406px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.education-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: fit-content; */
}

.education {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.education-img p {
  color: #555555;
  padding: 30px;
  font-size: 20px;
}
/* Qualification CSS Ends */

/* Footer CSS Starts */
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: black;
  color: white;
  padding-top: 100px;
  padding-bottom: 40px;
}

.footer__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  bottom: -60px;
}

.footer__img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 3px solid black;
}

.copyright {
  text-align: center;
  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
}

.copyright p {
  padding: 24px;
}

.phone,
.email {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.email p {
  font-size: 14px;
  font-weight: 500;
}

.phone p {
  font-size: 14px;
  font-weight: 400;
}

.footer__content h2 {
  font-size: 24px;
  font-family: "Poppins";
  font-weight: 500;
}

.contact-btn a {
  text-decoration: none;
}

.contact-btn {
  margin-bottom: 30px;
  padding: 10px, 24px, 10px, 24px;
  margin: 0 auto;
}
/* Footer CSS Ends */

@media (min-width: 768px) {
  /* Hero Styling Starts*/
  .hero__header span {
    padding: 5px 30px;
    font-size: 16px;
  }
  .hero__header span a {
    font-size: 16px;
  }
  .techpaathshala__img {
    height: 16px;
  }
  /* Hero Styling ends*/

  /* Profile Stlying Starts */
  .profile {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: initial;
  }

  .profile__img {
    position: relative;
    bottom: 20px;
    width: 600px;
    height: 400px;
  }

  .profile__info {
    width: 700px;
    padding-left: 26px;
    text-align: initial;
    justify-content: initial;
    align-items: initial;
    gap: 20px;
    /* padding-left: 50px; */
  }

  .profile__title {
    font-size: 32px;
    text-align: initial;
  }
  .profile__name {
    font-size: 28px;
    font-weight: 500;
    text-align: initial;
  }

  .profile__description {
    font-size: 14px;
    font-weight: 500;
  }

  .profile-btn a {
    font-size: 12px;
    text-align: center;
  }

  .description {
    margin-top: 0px;
  }

  .section {
    width: 90%;
    margin: 0 auto;
  }

  /* Description CSS Starts */

  .description__heading {
    font-size: 20px;
    padding: 0px 50px;
  }

  .description__courses {
    gap: 40px;
    font-size: 16px;
  }
  /* Description CSS Ends */

  /* Expertise CSS Starts */
  .expertise__content {
    display: flex;
    gap: 20px;
  }

  .expertise__description {
    text-align: initial;
  }
  .expertise__heading {
    font-size: 24px;
  }
  .expertise__context {
    font-size: 14px;
    font-weight: 500;
  }
  /* Expertise CSS Ends */

  /* Skills CSS Starts */
  .soft-skill {
    flex-direction: row;
    gap: 0px;
  }

  .soft__skills_content {
    margin: 0 auto;
  }
  /* SKills CSS Ends */

  /* Experince CSS Starts */
  .experience-container {
    flex-direction: row;
  }
  /* Experiecne CSS Ends */

  /* Education CSS Starts */
  #education-img {
    width: initial;
  }
}

@media (min-width: 1024px) {
  /* Navbar stying starts */
  .searchbar__menu {
    display: none;
  }

  .mobile__menu {
    display: none;
  }

  .navigation__menu {
    display: flex;
    justify-content: space-between;
  }

  .navigation__menu_ul {
    display: flex;
    gap: 40px;
    flex-direction: row;
  }
  header {
    padding: 40px 30px 40px 30px;
  }

  .nav-bar {
    flex-direction: row-reverse;
  }

  .navigation__menu_ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    transition: color 0.3s;
  }

  .navigation__menu li a:hover {
    color: red;
  }

  .navigation-menu__search {
    font-size: 24px;
  }
  /* Navbar stying ends */

  /* Hero stying starts */
  .techpaathshala__img {
    height: 24px;
  }
  .hero__header span {
    top: 150px;
    font-size: 24px;
    padding: 5px 50px 5px 50px;
  }

  .hero__header span a {
    font-size: 16px;
  }

  /* Hero stying Ends */

  /* Profile Styling Starts */
  .profile__img {
    width: 800px;
    height: 540px;
    position: relative;
    bottom: 80px;
  }

  .profile__info {
    width: 1000px;
  }

  .profile__title {
    font-size: 40px;
    line-height: 30px;
  }

  .profile__name {
    font-size: 36px;
    line-height: 40px;
  }
  .profile__description {
    font-size: 22px;
    line-height: 30px;
  }

  .profile-btn a {
    font-size: 16px;
  }
  /* Profile Styling Ends */

  /* Description CSS Starts */
  .description__heading {
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    padding: 0px 100px;
  }

  .description {
    margin-top: -50px;
  }

  .description__courses {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    gap: 60px;
  }
  /* Description CSS Ends */

  /* Expertise CSS Starts */

  .expertise__img {
    width: 265px;
    height: 258px;
  }

  .expertise__heading {
    font-size: 40px;
    line-height: 60px;
  }

  .expertise__context {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
  }

  .heading {
    text-align: initial;
    margin: 60px auto;
    font-size: 48px;
  }

  /* Expertise CSS Ends */

  /* Skills CSS Starts */

  .technologies {
    gap: 70px;
  }

  .technologies p {
    font-size: 24px;
    line-height: 35px;
  }

  .soft-skill {
    flex-direction: row;
    gap: 30px;
    padding: 20px 20px;
  }

  .soft__skills_content p {
    font-size: 32px;
    line-height: 48px;
  }

  /* Skills CSS Ends */

  /* Project CSS Starts */
  .projects__container {
    gap: 30px;
    padding: 10px;
  }

  .project__heading {
    font-size: 24px;
  }

  .profile__description {
    font-size: 16px;
    font-weight: 400;
  }
  /* Proejct CSS Ends */

  /* Experiecne CSS Starts */
  .experience-container {
    flex-direction: row;
  }

  /* Experience CSS Ends */

  /* Qualification CSS Starts */
  .education {
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
  }

  #circle-one {
    margin-top: 20px;
  }

  .line {
    height: 115px;
  }

  .qualification-course {
    font-size: 40px;
  }

  #education-img {
    width: 590px;
    height: 350px;
  }

  .education-img p {
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 400;
    color: #555555;
    text-align: initial;
    padding: 0;
  }

  .education-img {
    width: 590px;
    height: fit-content;
    justify-content: normal;
    align-items: normal;
  }

  .circle {
    width: 25px;
    height: 25px;
  }
  /* Qualificaiton CSS Ends */
}

@media (min-width: 1280px) {
  /* Navbar Styling Starts */
  header {
    padding: 40px 120px 40px 120px;
  }
  /* Navbar Styling Ends */

  /* Hero stying starts */
  video {
    height: 600px;
    max-width: 100%;
    background-color: black;
  }

  .navigation__menu li a {
    font-size: 24px;
  }

  .hero__header span {
    top: 150px;
    padding: 8px 97px;
  }
  /* Hero stying starts */

  /* Profile Styling Starting */

  .profile__img {
    width: 1000px;
    height: 800px;
    position: relative;
    bottom: 150px;
  }

  .profile__info {
    width: 1200px;
  }

  .profile__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
  }
  .profile__name {
    font-size: 40px;
    line-height: 60px;
  }
  .profile__description {
    font-size: 24px;
    line-height: 36px;
  }

  .btn {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }
  /* Profile styling Ends */

  /* Description CSS Starts */
  .description {
    margin-top: -80px;
  }

  .description__heading {
    padding: 0px 180px;
  }
  .description__courses {
    gap: 120px;
  }
  /* Description CSS Ends */

  /* Expertise CSS Starts */
  .expertise__description {
    width: 700px;
  }
  /* Expertise CSS Ends */

  /* Experience CSS Starts */
  .experience__content {
    flex-direction: row;
  }
  .experinece__ofice-name,
  .experinece__duration,
  .experience__work {
    text-align: initial;
  }

  /* Experience CSS Ends */
}
